@media(min-width: 768px){
	.news-input{
		width: 50%;
	}
}
@media(max-width: 1450px) and (min-width: 990px){
.height_solution{
min-height: 570px;

}}

.bg-green{
	background-color: RGB(17, 54, 34);
}

.w-40 {
  width: 40% !important;
}
